.jumbotron {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 0;
  background-color: #185a9d;  /* fallback for old browsers */
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #185a9d;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron {
  max-width: 40rem;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h1, h2, h3, h4, .sans-open {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.text-sans {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

p {
  font-size: 0.875em; /* 14px/16=0.875em */
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

