body{
	background: #f0e9e9;
	background-color: blanchedalmond;
	font-family: 'Varela Round', sans-serif;
}
.form-inline {
	display: inline-block;
}

@media (min-width: 992px){
	.form-inline .input-group {
		width: 250px;
		margin-right: 30px;
	}
}
@media (max-width: 991px){
	.form-inline {
		display: block;
		margin-bottom: 10px;
		margin-top: 0;
	}
	.input-group {
		width: 100%;
	}
}

.nav span:hover {
	color: red;

}
