{% extends 'blogs/base.html' %}

{% block content %}
{% load static %}

  <div class="container marketing">
  <h3>Detailed Blog Post # {{ blog.id }}</h3>
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <p><h3>{{ blog.title }}</h3></p>
        <p class="lead">{{ blog.content | safe }}</p>
        <p class="lead">
          <h6><span class="text-muted">Author: {{ blog.author }}</span></h6>
          <h6><span class="text-muted">Last updated on: {{ blog.updated_on }}</span></h6>
          <h6><span class="text-muted">Created on: {{ blog.created_on }}</span></h6>
          <!-- <h6><span class="text-muted">Published on: {{ blog.published_date }}</span></h6> -->
        </p>
      </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->
  </div><!-- /.container -->
  <div class="container text-center">
    <div class="jumbotron bg-success text-white">
      <div class="container text-center">
        <h2 class="display-5">Blogs share your thoughts to world and helps people find right solution</h2>
        <p class="lead">Good blogs requires better understanding of subject<br>focus on reader's perspective with examples to explain the subject.  </p>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
{% endblock %}