{% extends 'portfolio/base.html' %}

{% block content %}
{% load static %}
<div class="container text-center">
  <div class="jumbotron bg-info text-white">
    <div class="container text-center">
      <h1 class="display-6">Blogs share your thoughts to world and helps people find right solution</h1>
      <p class="lead">Good blogs requires better understanding of subject<br>focus on reader's perspective with examples to explain the subject.  </p>
    </div>
  </div>
</div>
  <div class="container marketing">
  <h3>Detailed Blog Post # {{ blog.id }}</h3>
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ blog.title }}</h2>
        <p class="lead">{{ blog.body }}</p>
        <p class="lead"><span class="text-muted">Author: {{ blog.author }}</span></p>
        <p class="lead"><span class="text-muted">Created on: {{ blog.created_date }}</span></p>
        <p class="lead"><span class="text-muted">Published on: {{ blog.published_date }}</span></p>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock %}